.App {
  text-align: center;
}

.slick-prev{
  /* color:black !important; */
  color:aliceblue;
  background-color: black !important;
  border-radius: 60%;
  
}
.slick-next{
  border-radius: 60%;
  background-color: black !important;
  
}
.slick-arrow{
  height:100px
}