.App {
  text-align: center;
}

.slick-prev{

  width: '100px';
  height: '100px';
  color:aliceblue;
  background-color: rgb(217, 214, 214) !important;
  border-radius: 60%;
  
}
.slick-next{
  border-radius: 60%;
  background-color: rgb(217, 214, 214) !important;
  
}
.slick-arrow{
  height:100px
}